*{
	padding: 0;
	margin: 0;
	font-family: sans-serif,arial;
	text-decoration: none;
	font-weight: unset;
}
:root{
	--colorPrincipal: ;
	--colorSecundario: ;
	--texto: ;
}

/*Contenedor body*/
.cont-body{
	width: 100%;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
	.cont-nav{
		width: 100%;
		height: 10%;
		display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-direction: row;
	}
		.sub-cont-nav{
			width: 32%;
			height: 100%;
			display: flex;
    		justify-content: space-around;
    		align-items: center;
    		flex-direction: row;
		}
		#sub-cont-nav3{
			justify-content: end;
		}
			.cont-btn-nav3{
				width: 50%;
				height: 100%;
				display: flex;
		    	align-items: center;
		    	justify-content: space-around;
		    	flex-direction: row;
			}

	.cont-ubi-elementos-principales{
		width: 100%;
		height: 90%;
		display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: row;
	}
		.nav-lateral{
			width: 10%;
			height: 100%;
			/*background: #dfdfdf;*/
		}
		.cont-datos{
			width: 90%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #dfdfdf;
			border-radius: 1vh;
		}
			.cont-tabla-resultado{
				width: 97.5%;
				height: 95%;
				border-radius: 1vh;
				background: white;
				overflow: auto;
			}
				.cont-tabla-resultado form{
					width: 100%;
					height: 100%;
				}
				.cont-tabla{
					height: 90%;
					width: 100%;
					max-width: 100%;
					overflow: auto;
				}
					table{
						width: auto;
						border-collapse: collapse;
					}
						.titulo-tabla-resultado{
							/*este es el thead*/
						}
							.fila-titulo-resultado{
								height: 5vh;
								border-bottom: 3px solid grey;
								font-weight: bold;
							}
								.consulta-Resultado-Datos{
									min-width: 33vh;
									height: 100%;
								}
								#CHECK{
									min-width: 20VH;
								}
								#select{
									height: 5vh;
									width: 70%;
									font-size: 80%;
									padding: 0.3vh;
								}
								#textarea{
									resize: none;
									width: 75%;
									height: 6vh;
									padding: 0.5vh;
								}
								#dato15{
									min-width: 36vh;
								}
								#dato14, #dato16{
									min-width: 70vh;
								}
								#dato5, #dato6, #dato7, #dato19, #dato24, #dato25{
									min-width: 50vh;
								}
						.tb-resultado-datos{
							height: 10vh;
							border-bottom: 1px solid black;
						}
				.cont-btn-guardar{
					height: 10%;
					width: 100%;
					display: flex;
					justify-content: end;
				}
					.ubi-btn-guardar{
						width: 15%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
						.ubi-btn-guardar button{
							width: 50%;
							height: 60%;
							font-size: 100%;
							font-weight: bold;
						}

@media (max-width: 900px){

	.nav-lateral{
		width: 5%;
	}
	.cont-datos{
		width: 95%;
	}
}