*{
	padding: 0;
	margin: 0;
	font-family: sans-serif,arial;
	text-decoration: none;
	font-weight: unset;
}
:root{
	--colorPrincipal: ;
	--colorSecundario: ;
	--texto: ;
}

/*Contenedor body*/
.cont-body{
	width: 100%;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #dfdfdf;

}
	.cont-nav{
		width: 100%;
		height: 10%;
		display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-direction: row;
    	background: white;
	}
		.sub-cont-nav{
			width: 32%;
			height: 100%;
			display: flex;
    		justify-content: space-around;
    		align-items: center;
    		flex-direction: row;
		}
		#sub-cont-nav2 span{
			font-weight: bold;
			font-size: 4vh;
		}
		#sub-cont-nav3{
			justify-content: end;
		}
			.cont-btn-nav3{
				width: 50%;
				height: 100%;
				display: flex;
		    	align-items: center;
		    	justify-content: space-around;
		    	flex-direction: row;
			}
				.cont-btn-nav3 a{
					color: black;
					font-weight: bold;
					font-size: 1005;
				}

	.cont-ubi-elementos-principales{
		width: 100%;
		height: 90%;
		display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: row;
	}
		.nav-lateral{
			width: 14%;
			height: 95%;
			background: white;
			border-radius: 1vh;
			/*background: #dfdfdf;*/
		}
			#spaces{
				height: 15%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
				#spaces span{
					font-size: 13px;
					font-weight: bold;
				}
			#cont-menu{
				height: 50%;
				width: 100%;
			}
		.cont-datos{
			width: 84%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #dfdfdf;
			border-radius: 1vh;
		}
			.cont-tabla-resultado{
				width: 97.5%;
				height: 95%;
				border-radius: 1vh;
				background: white;
				overflow: auto;
			}
				.cont-tabla-resultado form{
					width: 100%;
					height: 100%;
				}
				.cont-tabla{
					height: 90%;
					width: 100%;
					max-width: 100%;
					overflow: auto;
				}
					table{
						width: auto;
						border-collapse: collapse;
					}
						.titulo-tabla-resultado{
							/*este es el thead*/
						}
							.fila-titulo-resultado{
								height: 10vh;
								border-bottom: 3px solid grey;
								font-weight: bold;
							}
								.consulta-Resultado-Datos{
									min-width: 33vh;
									height: 100%;
								}
								#id{
									min-width: 15vh;
								}
								#estados{
									min-width: 35vh;
								}
								#comentarios{
									min-width: 50vh;
								}
								.selectorEstado{
									width: 25vh;
									height: 5vh;
								}
								#dato15{
									min-width: 36vh;
								}
								#dato14, #dato16{
									min-width: 70vh;
								}
								#dato5, #dato6, #dato7, #dato19, #dato24, #dato25{
									min-width: 50vh;
								}
						.tb-resultado-datos{
							height: 10vh;
							border-bottom: 1px solid black;
						}
				.cont-btn-guardar{
					height: 10%;
					width: 100%;
					display: flex;
					justify-content: end;
				}
					.ubi-btn-guardar{
						width: 15%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
						.ubi-btn-guardar button{
							width: 50%;
							height: 60%;
							font-size: 100%;
							font-weight: bold;
						}

@media (max-width: 900px){

	.nav-lateral{
		width: 11%;
	}
	.cont-datos{
		width: 89%;
	}
}